<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">


<div layout:fragment="content" th:remove="tag">
	<h2 style="text-align: center">Home Page</h2>
	<div style="margin-left: 20px" id="aboutMe">About Me</div>
	<div>
		<div>
			<img th:src="@{'/img/'+${imageName}}"
				style="width: 300px; height: 300px; float: left; margin: 10px; border-radius: 50%"></img>
		</div>
		<div>Hello! My name is Kevin Hu and I am a second-year
			Engineering Science student at the University of Toronto. This is a
			web application that I have developed over roughly a month during the
			summer between my first and second years of university. This was my
			first excursion into the world of Java web applications and various
			relevant frameworks. I wanted to gain some relevant programming
			experience as I thought that the introductory programming courses
			that all Engineering Science students are required to take were not
			sufficient. Additionally, our heavy courseload gives us little
			latitude to pick electives until we specialize in third year. I was
			inspired by the websites that some people make to showcase their work
			and thought I could make a website while gaining some experience with
			full-stack development.</div>
		</br>
		<div>A complete description of my work and academic experiences
			can be found in my resume or LinkedIn, but here is a short summary of
			how I got here. I took the International Baccalaureate Diploma
			Programme at Guelph Collegiate Vocational Institute, picking
			Chemistry, Language/Literature, and History as my Higher Level
			courses while taking Standard Level Math, Physics, and ab initio
			Spanish. I wrote my Extended Essay in History and completed all my
			IAs, TOK, and CAS requirements to earn an eventual 44 points out of a
			possible 45. The point I missed out on was in Spanish. We were not
			able to take our exams at the end of our two years of IB due to
			COVID, but I don't particularly regret or resent the missed
			opportunity to earn a perfect IB score as it didn't have any
			relevance to me after February of 2020 when I was accepted into
			Engineering Science at the University of Toronto, my first choice
			program.</div>
		</br>
		<div>A quick word on my extracurriculars in high school. I got
			involved in executive positions and creative extracurriculars where I
			could, but I mainly participated in sports. I loved, and still do
			love, playing sports. In high school, I played four varsity sports a
			year: tennis in the fall, wrestling in the winter, and both badminton
			and rugby in the spring. Now, I can only find the time to play
			recreationally, but my health and fitness are important things to me
			so I will always find the time to do something.</div>
		</br>
		<div>I took my first year of Engineering Science fully online
			due to COVID, which was certainly a tough adjustment but in many ways
			made the transition to university easier. I was at home for the fall
			term and only moved out in winter term, so I had a two-part
			university initiation that smoothed my adjustment. In many ways, I
			was extremely lucky compared to many of my peers and many people
			worldwide. I got involved in Robotics for Space Exploration (RSX) in
			my first year, joining the electrical subteam and learning about
			circuits and Altium. I completed first year successfully and with a
			fairly high mark, which now brings me to the summer after first year
			and where I am now.</div>
		</br>
		<div>During the summer of 2021, I decided to undertake a few
			passion projects. I had wanted to make a custom mechanical keyboard
			from scratch for about a year now but did not have the time to do so
			during the school year, so I started and saw that through to
			completion at the beginning of the summer. The second project I
			wanted to try was a woodworking project. I made a coffee table with
			my dad in our garage as I went home for about half the summer and it
			now resides in the living room of my Toronto apartment. Finally, I
			made this website to display information about myself as well as
			learn about and practice full-stack development. I learned much from
			each of these projects and I am content with what I have completed
			this summer.</div>
		</br>
		<div>I now head into my second year of Engineering Science
			(reputed to be at least as tough as first year). I think that I have
			more highly developed time management skills and I have learned how
			to survive tough courseloads, but it will still be a challenge that
			makes me nervous just thinking about. My goal is to complete my
			second year to at least the same degree of success as my first year
			while enjoying my time on-campus, and balancing my extracurricular
			activities (which now include a co-directorship of another club). If
			this About Me page, my GitHub, and this website as a whole are not
			being updated constantly, hopefully you can infer something about the
			direness of my "drowning in textbooks" situation.</div>
	</div>


</div>


</html>