<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Login</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div>
			<div>
				<h1>Projects</h1>
				<hr />
			</div>
		</div>

		<div>
			<div>
				<div>
					<div>
						<div>
							<div>
								<form id="login-form" method="post" th:action="@{/login}"
									role="form" style="display: block;">
									<h2>LOGIN</h2>
									<div th:if="${param.error}">
										<div>Invalid username or password.</div>
									</div>
									<div th:if="${param.logout}">
										<div>You have been logged out.</div>
									</div>
									<div>
										<input type="text" name="username" id="username" tabindex="1"
											class="form-control" placeholder="Email" value="">
									</div>
									<div>
										<input type="password" name="password" id="password"
											tabindex="2">
									</div>
									<!--
									<div>
										<input id="checkbox1" type="checkbox" name="remember">
										<label for="checkbox1">Remember Me</label>
									</div>
									-->
									<div>
										<input type="submit" name="login-submit" id="login-submit"
											tabindex="4" value="Log In">
									</div>
								</form>
								<form id="register-form" method="post"
									th:action="@{/registration}" th:object="${user}"
									style="display: none;">

									<div th:if="${param.success}">
										<div>You've successfully registered to our awesome app!</div>
									</div>

									<h2>REGISTER</h2>

									<p th:each="error : ${#fields.errors('global')}"
										th:text="${error}">Validation Error</p>

									<div>
										<input id="" placeholder="username" th:field="*{username}" />
										<p th:each="error: ${#fields.errors('username')}"
											th:text="${error}">Validation Error</p>
									</div>
									<div>
										<input id="email" placeholder="E-mail" th:field="*{email}" />
										<p th:each="error: ${#fields.errors('email')}"
											th:text="${error}">Validation Error</p>
									</div>
									<div>
										<input id="password" placeholder="Password" type="password"
											th:field="*{password}" />
										<p th:each="error: ${#fields.errors('password')}"
											th:text="${error}">Validation Error</p>
									</div>
									<div>
										<input id="confirmPassword" placeholder="Confirm Password"
											type="password" th:field="*{confirmPassword}" />
										<p th:each="error: ${#fields.errors('confirmPassword')}"
											th:text="${error}">Validation Error</p>
									</div>
									<div>
										<input id="terms" type="checkbox" th:field="*{terms}" />   <label
											for="terms"> I agree with the <a href="#">terms
												and conditions</a> for registration.
										</label>
										<p th:each="error: ${#fields.errors('terms')}"
											th:text="${error}">Validation Error</p>
									</div>
									<div>
										<div>
											<div>
												<input type="submit" name="register-submit"
													id="register-submit" tabindex="4" value="Register Now">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div>
						<div>
							<div>
								<a href="#" id="register-form-link" style="display: block"
									onclick="myFunction()"> REGISTER </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			function myFunction() {
				var x = document.getElementById("register-form");
				x.style.display = "block";
				var y = document.getElementById("register-form-link");
				y.style.display = "none";
			}
		</script>
	</div>
	<footer layout:fragment="footer" th:remove="tag">
		<div>
			<div>
				<h6 style="font-size: 14px; font-weight: 100; color: #fff;">
					Coded with <i></i> by <a href="http://hashif.com"
						style="color: #fff;" target="_blank">Hashif</a>
				</h6>
			</div>
		</div>
	</footer>
</body>



</html>